export("aliquot", "benprob", "bestFrac", "cf2latex", "cfrac", "collatz", "juggatz", "morris",
       "sptable", "vaneck")
importFrom("utils", "combn")
importFrom("gmp", "outer", "as.bigz", "factorize", "div.bigq", "as.bigq", "gcd")
importFrom("Rmpfr","mpfr","roundMpfr", "getPrec")