export("aliquot", "benprob", "bestFrac", "collatz", "juggatz", "morris", "sptable", "vaneck", "bpp","dontWorry", "harshad", "kaprekar", "factorion")
importFrom("utils", "combn")
importFrom("bigBits", "base2base",  "noExp")

importFrom("gmp", "outer",  "as.bigz","factorize", "div.bigq", "gcd", "as.bigq","pow.bigq", "is.bigz", "numerator" , "denominator")
importFrom("Rmpfr", "mpfr",  ".mpfr2bigz", ".bigz2mpfr", "is.mpfr", "formatDec","roundMpfr", "getPrec", ".bigq2mpfr")
importFrom("methods", "is", "as")
